@import "tailwindcss";

html,body{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    margin: 0;
    padding: 0;
}


.custom-shape-divider-top-1763117861 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1763117861 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32px;
}

.custom-shape-divider-top-1763117861 .shape-fill {
    fill: #FFFFFF;
}


